# Dependencias
node_modules/
/.pnp
.pnp.js
node_modules/@next/swc-win32-x64-msvc/next-swc.win32-x64-msvc.node
# Testing
/coverage

# Producción
/build
/dist

# Misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Vite
.vite

# Archivos de entorno
.env

